.docs-section {
    border-bottom: 1px solid $dashSectionOutlineColor;
    display: block;
    width: 100%;

    &.docs-section--subscribe-to-changes {
        .docs-section__examples-code {
            min-height: 140px;
        }
    }
}

.docs-section__liner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.docs-section__text {
    display: block;
    width: 51%;
    padding: 40px $docsSidePadding;
}

.docs-section__text-liner {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.docs-section__text-title {
    font-size: 16px;
    color: $white;
    letter-spacing: 0.13px;
    display: inline-block;
    margin-bottom: 13px;
}

.docs-section__text-desc {
    font-size: 14px;
    color: $gray;
    display: inline-block;
    letter-spacing: 0.12px;
    line-height: 25px;
}

.docs-section__link-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 22px;
}

.docs-section__link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
    color: adjust-color($tealAccent, $alpha: -0.2);
    cursor: pointer;

    &:hover {
        color: $tealAccent;
    }

    span {
        transition: all 0.12s ease;
    }

    span:not(:first-child) {
        transform: scale(0.85);
        margin-top: 1px;
        margin-left: 6px;
    }
}

.docs-section__examples {
    display: block;
    width: 49%;
    height: 100%;
    background-color: adjust-color($backgroundMedium, $alpha: -0.35);
}

.docs-section__examples-liner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.docs-section__examples-titles {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 0;
    user-select: none;

    .docs-section__selected-example-slider {
        height: 28px;
        border-radius: 14px;
        display: inline-block;
        position: absolute;
        top: 22px;
        cursor: pointer;
        z-index: 1;
        background-color: adjust-color($tealAccent, $alpha: -0.94);
        transition: all 0.3s $defaultTiming;
        pointer-events: none;
    }

    // Always 32px
    &.docs-section__examples-titles--index-0 .docs-section__selected-example-slider {
        left: 32px;
    }

    &.docs-section__examples-titles--index-1 {
        &.docs-section__examples-titles--specific-columns {
            .docs-section__selected-example-slider {
                left: calc(32px + 97.37px + 12px);
            }
        }
    }

    &.docs-section__examples-titles--index-2 {
        &.docs-section__examples-titles--with-filters {
            .docs-section__selected-example-slider {
                left: calc(32px + 97.37px + 12px + 117.62px + 12px);
            }
        }
    }

    &.docs-section__examples-titles--index-3 {
        &.docs-section__examples-titles--foreign-tables {
            .docs-section__selected-example-slider {
                left: calc(32px + 97.37px + 12px + 117.62px + 12px + 83.55px + 12px);
            }
        }
    }

    // Read all rows
    &.docs-section__examples-titles--read-all-rows .docs-section__selected-example-slider {
        width: 97.37px;
    }

    // Specific columns
    &.docs-section__examples-titles--specific-columns .docs-section__selected-example-slider {
        width: 117.62px;
    }

    // With filters
    &.docs-section__examples-titles--with-filters .docs-section__selected-example-slider {
        width: 83.55px;
    }

    // Foreign tables
    &.docs-section__examples-titles--foreign-tables .docs-section__selected-example-slider {
        width: 103.5px;
    }
}

.docs-section__examples-title {
    margin-left: 12px;
    font-size: 12px;
    letter-spacing: 0.1px;
    cursor: pointer;
    height: 28px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: adjust-color($gray, $alpha: -0.1);
    transition: all 0.15s ease;
    padding: 0 12px;
    border-radius: 14px;
    position: relative;
    z-index: 2;

    &:nth-child(2) {
        margin-left: 32px;
    }

    &:not(.docs-section__examples-title--selected):hover {
        color: adjust-color($tealAccent, $alpha: -0.1);
    }

    &.docs-section__examples-title--selected {
        color: $tealAccent;
    }
}

.docs-section__examples-code {
    display: block;
    padding-left: 35px;
    width: 100%;
    height: auto;
    min-height: 280px;
    max-height: 400px;
    position: relative;

    .editor__h-scroll {
        padding: 8px 0 24px;
    }

    &:before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        bottom: 0px;
        height: 10px;
        right: 0;
        border-bottom: 2px solid adjust-color($backgroundLight, $alpha: -0.6);
    }
}

.docs-section__examples-output {
    display: block;
    padding-left: 35px;
    padding-top: 29px;
    padding-bottom: 29px;
    width: 100%;
    width: 100%;
    height: 200px;
    display: block;
    overflow-y: overlay;
    overflow-x: overlay;
    scrollbar-width: thin;
    background-color: adjust-color($backgroundLight, $alpha: -0.85);
    
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
        transition: all 1s ease;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    &:hover {
        scrollbar-color: adjust-color($white, $alpha: -0.95) transparent;

        &::-webkit-scrollbar-thumb {
            background-color: adjust-color($white, $alpha: -0.95);
        }
    }
}

.docs-section__examples-output-group {
    display: block;
    width: 100%;
    margin-bottom: 4px;

    .string {
        color: $tealAccent;
    }
    
    .default {
        color: adjust-color($lightGray, $alpha: -0.2);
    }
}