.docs-body {
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: overlay;
    overflow-x: overlay;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
        transition: all 1s ease;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }

    &:hover {
        scrollbar-color: adjust-color($white, $alpha: -0.95) transparent;

        &::-webkit-scrollbar-thumb {
            background-color: adjust-color($white, $alpha: -0.95);
        }
    }
}

.docs-body__header {
    display: block;
    width: 100%;
    padding: 48px $docsSidePadding;
    position: relative;
    border-bottom: 1px solid $dashSectionOutlineColor;
}

.docs-body__header-liner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(100% - 200px);
}

.docs-body__header-title {
    display: inline-block;
    font-size: 20px;
    color: $white;
    letter-spacing: 0.17px;
    white-space: nowrap;
    position: relative;
    margin-bottom: 19px;
}

.docs-body__header-subtitle {
    font-size: 14px;
    color: $gray;
    display: inline-block;
    letter-spacing: 0.12px;
    line-height: 25px;
}

.docs-body__header-buttons {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    top: 48px;
    right: 36px;
}

.docs-body__header-buttons-top {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 28px;
    margin-top: 6px;
    margin-right: 5px;

    a {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 15px;
        width: auto;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 18px;
        }

        &:last-child {
            svg {
                height: 17px;
            }
        }

        svg {
            width: auto;
            height: 15px;
            fill: adjust-color($gray, $alpha: -0.35);
            transition: fill 0.15s ease;
        }

        &:hover {
            svg {
                fill: $gray;
            }
        }
    }
}

.docs-body__header-buttons-bottom {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.docs-body__lang-select {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 26px;
    border-radius: 13px;
    border: 1px solid adjust-color($tealAccent, $alpha: -0.75);
    background-color: transparent;
    transition: all 0.15s ease;
    padding: 0 11px;
    cursor: pointer;
    
    &:hover {
        border: 1px solid adjust-color($tealAccent, $alpha: -0.7);
        background-color: adjust-color($tealAccent, $alpha: -0.97);
    }

    span:first-child {
        font-size: 11.5px;
        letter-spacing: 0.1px;
        display: inline-block;
        margin-right: 8px;
        color: $tealAccent;
    }

    span:last-child {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 5.5px;

        svg {
            height: 100%;
            width: auto;

            #caret {
                stroke: $tealAccent;
            }
        }
    }
}


