// ---------- Avenir Next ------------
@font-face {
    font-family: Thin;
    src: url(../fonts/avenir-next/avenir-next-thin.ttf) format('truetype');
}

@font-face {
    font-family: Regular;
    src: url(../fonts/avenir-next/avenir-next-regular.ttf) format('truetype');
}

@font-face {
    font-family: Medium;
    src: url(../fonts/avenir-next/avenir-next-medium.ttf) format('truetype');
}

@font-face {
    font-family: DemiBold;
    src: url(../fonts/avenir-next/avenir-next-demibold.ttf) format('truetype');
}

@font-face {
    font-family: Bold;
    src: url(../fonts/avenir-next/avenir-next-bold.ttf) format('truetype');
}

@font-face {
    font-family: Italic;
    src: url(../fonts/avenir-next/avenir-next-italic.ttf) format('truetype');
}

// ---------- SF Mono ------------
@font-face {
    font-family: CodeThin;
    src: url(../fonts/sf-mono/SFMonoLight.otf) format('opentype');
}

@font-face {
    font-family: CodeRegular;
    src: url(../fonts/sf-mono/SFMonoRegular.otf) format('opentype');
}

@font-face {
    font-family: CodeMedium;
    src: url(../fonts/sf-mono/SFMonoMedium.otf) format('opentype');
}

@font-face {
    font-family: CodeSemibold;
    src: url(../fonts/sf-mono/SFMonoSemibold.otf) format('opentype');
}

@font-face {
    font-family: CodeBold;
    src: url(../fonts/sf-mono/SFMonoBold.otf) format('opentype');
}
