.live-column-filters {
    display: block;
    width: 100%;
    overflow: hidden;

    button {
        background-color: transparent;
        border: none;
        text-align: left;
    }
}

.live-column-filters__liner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.live-column-filters__filter-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 23px;
    position: relative;

    &:before {
        content: 'or';
        display: inline-block;
        position: absolute;
        top: -6px;
        left: 1px;
        font-size: 10px;
        letter-spacing: 0.45px;
        color: $gray;
        opacity: 0.53;
        text-transform: uppercase;        
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 1px;
        top: 0;
        left: 26px;
        background-color: adjust-color($gray, $alpha: -0.94);
        height: 1px;
    }

    &:first-child {
        margin-top: 25px;

        &:before {
            content: 'filter by';
        }

        &:after {
            left: 60px;
        }
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.live-column-filters__filter-input {
    position: relative;
    display: flex;
    height: 49px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        .live-column-filters__formatter:not(.live-column-filters__formatter--disabled) {
            transform: scale(1);
        }
    }
}

.live-column-filters__filter-input-field {
    height: 35px;

    input, select {
        font-family: CodeRegular;
    }

    .spec__control {
        background-color: adjust-color($backgroundLight, $alpha: -0.6) !important;

        &:hover {
            background-color: adjust-color($backgroundLight, $alpha: -0.5) !important;
        }
    }

    .spec__indicators {
        position: absolute;
        right: 0px;
        top: 13px;
        opacity: 1;
    }

    &:not(.live-column-filters__filter-input-field--op) {
        .spec__value-container--has-value + .spec__indicators {
            opacity: 0;
        }
    }

    &.live-column-filters__filter-input-field--property {
        width: calc(#{$liveObjectFilterInputWidth} / 1.1);

        .spec__single-value {
            grid-area: 1/1/2/3;
            margin-left: 2px;
            margin-right: 2px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & > span:first-child {
                width: calc(100% - 70px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 11px;
            }

            & > span:nth-child(2) {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                font-size: 9.5px;
                color: adjust-color($gray, $alpha: -0.2);
                letter-spacing: 0;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: right;
                padding-left: 8px;
                transition: opacity 0.22s ease;
                width: 70px;
                opacity: 0;
            }
        }

        .spec__option {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & > span:first-child {
                width: calc(100% - 70px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            & > span:last-child {
                position: relative;
                margin-right: 0;
                font-size: 9.5px;
                color: adjust-color($gray, $alpha: -0.2);
                letter-spacing: 0;
                width: 70px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: right;
            }
        }

        &:not(.select-input--disabled) {
            .spec__control:hover {
                .spec__single-value {
                    & > span:nth-child(2) {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.live-column-filters__filter-input-field--value {
        width: calc(#{$liveObjectFilterInputWidth} * 1.1);

        &.live-column-filters__filter-input-field--showing-prompt {
            .spec__single-value {
                & > span:last-child {
                    // color: $blueAccent;
                }
            }
        }

        .spec__single-value {
            grid-area: 1/1/2/3;
            margin-left: 2px;
            margin-right: 2px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & > span:first-child {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            & > span:last-child {
                position: relative;
                margin-right: 10px;
                font-size: 9.5px;
                color: adjust-color($gray, $alpha: -0.2);
                letter-spacing: 0;
                margin-left: 9px;
            }
        }

        .spec__option {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            & > span:first-child {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            & > span:last-child {
                position: relative;
                margin-right: 3px;
                font-size: 10px;
                color: adjust-color($gray, $alpha: -0.2);
                padding-left: 8px;
                margin-left: 8px;
                letter-spacing: 0;
            }
        }

        &.live-column-filters__disabled-value-ph {
            background-color: adjust-color($backgroundLight, $alpha: -0.6);
            transition: background-color 0.22s ease;
            border: 1px solid adjust-color($gray, $alpha: -0.9);
            border-radius: 4px;
            position: relative;
            opacity: 0.4;
            cursor: default;

            span {
                position: absolute;
                font-size: 11px;
                display: block;
                left: 12px;
                top: 10px;
                font-family: CodeRegular;
                white-space: nowrap;
                overflow: hidden;
                pointer-events: none;
                right: 10px;
                color: adjust-color($gray, $alpha: -0.2);
            }
        }
    }

    &.live-column-filters__filter-input-field--op {
        width: $liveObjectFilterOpWidth;
        margin: 0 $newLiveColInputGutter;

        .select-input__dropdown-icon svg {
            margin-right: 9px;
            top: 1.5px;
        }

        &.select-input {
            .spec__single-value,
            .spec__placeholder,
            .spec__input-container,
            .spec__option,
            .spec__input > * {
                font-size: 12px;
                font-family: Regular;
                letter-spacing: 0.1px;
            }
            .spec__value-container {
                padding-left: 6px !important;
            }
        }

        input, .input {
            font-size: 11px;
        }

        .spec__single-value {
            grid-area: 1/1/2/3;
            margin-left: 2px;
            margin-right: 2px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            box-sizing: border-box;
            display: block;
        }

        .spec__option {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    }

    &.live-column-filters__filter-input-field--property {
        position: relative;

        .spec__control {
            padding-left: 13px;
        }

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 9px;
            height: 7px;
            background-image: url('../../svgs/into-arrow.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 1px;
            left: 9px;
            z-index: 1;
            pointer-events: none;
            opacity: 0.9;
        }
    }

    &:not(.live-column-filters__timestamp-input-field) input,
    .input {
        background-color: adjust-color($backgroundLight, $alpha: -0.5);
        border: 1px solid adjust-color($gray, $alpha: -0.9);
        border-radius: 5px;
        outline: none !important;
        box-shadow: none !important;
        color: $white;
        width: 100%;
        height: 100%;
        padding-left: 13px;
        text-overflow: ellipsis;
        padding-right: 13px;
        font-size: 11px;
        letter-spacing: 0.1px;
    }

    .input {
        line-height: 33px;
        font-size: 12.5px;
        position: relative;
        cursor: pointer;

        &:hover {
            &:after {
                color: $lightGray;
            }
        }

        &:after {
            position: absolute;
            content: 'f(x)';
            font-family: CodeRegular;
            color: adjust-color($gray, $alpha: -0.25);
            transition: color 0.15s ease;
            right: 10px;
            top: 50%;
            transform: translateY(-47%);
            font-size: 11px;
            letter-spacing: -1px;
        }
    }

    &:focus:not(.live-column-filters__filter-input-field--disabled) {
        .input {
            &:after {
                color: $lightGray;
            }
        }
    }

    &.select-input {
        .spec__single-value,
        .spec__placeholder,
        .spec__input-container,
        .spec__option,
        .spec__multi-value__label,
        .spec__input > * {
            font-family: CodeRegular;
        }

        .spec__option {
            font-size: 11px;
            color: $lightGray;
            height: 26px;
            line-height: 26px;

            &.spec__option--is-selected {
                color: $tealAccent;
            }
        }

        .spec__control {
            height: 35px;
        }

        .spec__value-container {
            padding-left: 7px !important;

            &.spec__value-container--is-multi.spec__value-container--has-value {
                padding-left: 1px !important;
            }

            &.spec__value-container--is-multi {
                flex-wrap: nowrap;
                scrollbar-width: thin;
                overflow: overlay;
        
                &::-webkit-scrollbar {
                    width: 5px;
                    height: 5px;
                }
            
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
            
                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                    border-radius: 2.5px;
                    transition: all 1s ease;
                }
            
                &:hover {
                    scrollbar-color: adjust-color($backgroundDark, $alpha: -0.5) transparent;
            
                    &::-webkit-scrollbar-thumb {
                        background-color: adjust-color($backgroundDark, $alpha: -0.5);
                    }
                } 
            }
        }

        .spec__single-value,
        .spec__multi-value__label,
        .spec__placeholder {
            font-size: 11px;
        }
    }

    input {
        &::placeholder {
            color: adjust-color($gray, $alpha: -0.2);
        }

        &::-webkit-input-placeholder {
            color: adjust-color($gray, $alpha: -0.2);
        }

        &::-moz-placeholder {
            color: adjust-color($gray, $alpha: -0.2);
        }
    }

    &.live-column-filters__code-input-field {
        position: relative;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 7.5px;
        background-color: adjust-color($backgroundLight, $alpha: -0.6);
        transition: background-color 0.22s ease;
        border: 1px solid adjust-color($gray, $alpha: -0.91);
        cursor: text;
        border-radius: 4px;

        &:hover {
            background-color: adjust-color($backgroundLight, $alpha: -0.5);
        }

        .code-input__ph {
            position: absolute;
            font-size: 11px;
            display: block;
            left: 12px;
            top: 10px;
            font-family: CodeRegular;
            white-space: nowrap;
            overflow: hidden;
            right: 10px;
            pointer-events: none;
            color: adjust-color($gray, $alpha: -0.2);
        }

        .editor-widget {
            display: none;
        }
    }

    &.live-column-filters__timestamp-input-field {
        background-color: adjust-color($backgroundLight, $alpha: -0.6);
        border: 1px solid adjust-color($gray, $alpha: -0.91);
        border-radius: 5px;
        outline: none !important;
        box-shadow: none !important;
        color: $white;
        padding-left: 13px;
        padding-right: 13px;
        font-size: 11px;
        letter-spacing: 0.1px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-family: CodeRegular;

        &:hover {
            background-color: adjust-color($backgroundLight, $alpha: -0.5);
        }

        input {
            display: inline-block;
            color: inherit;
            font-size: inherit;
            letter-spacing: inherit;
            font-family: inherit;
            background-color: transparent;
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
            width: 14px;

            &.timestamp-input__year-input {
                width: 28px;
            }
        }

        span {
            display: inline-block;
            margin: 0 2px;
            color: adjust-color($gray, $alpha: -0.2);
        }        
    }
}

.live-column-filters__filter-input-icon-button {
    height: $newLiveColIconButtonSideLength;
    width: $newLiveColIconButtonSideLength;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $gray;
    cursor: pointer;
    justify-self: flex-end;
    transition: all 0.08s ease;
    opacity: 0.7;

    svg {
        transition: all 0.08s ease;
    }

    &:hover {
        color: $white;
    }

    &.live-column-filters__filter-input-icon-button--settings {
        margin-right: 0;
        margin-left: $newLiveColIconButtonLeftSpacing;

        svg {
            height: 16.5px;
            width: auto;
        }
    }

    &.live-column-filters__filter-input-icon-button--remove {
        margin-left: 12px;

        svg {
            width: 20px;
            height: auto;
        }
    }
}

.live-column-filters__action-buttons {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

    button {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid adjust-color($gray, $alpha: -0.8);
        border-radius: 5px;
        color: adjust-color($white, $alpha: -0.1);
        height: 28px;
        padding: 0 10px 1px;
        cursor: pointer; 
        transition: background-color .15s ease;
        margin-right: 10px;

        span {
            font-size: 10px;
            letter-spacing: 0.11px;
        }
        
        &:focus,
        &:hover {
            background-color: adjust-color($backgroundLight, $alpha: -0.7);
        }
    }
}

.live-column-filters__prompt {
    display: block;
    width: 100%;
    padding-left: 1px;
    padding-right: 30px;
    height: 0;
    overflow: hidden;
    transition: height 0.6s $defaultTiming;

    &.live-column-filters__prompt--open {
        height: 190px;
    }
}