@keyframes dash {
    to { stroke-dashoffset: 1000; }
}

.live-object-data-flow {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease;

    &.live-object-data-flow--show {
        opacity: 1;
    }

    #shadowCircle {
        z-index: 0;
        position: absolute;
        height: 49px;
        width: 49px;
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 0 0 32px adjust-color(white, $alpha: -0.5);
        display: block;
        top: 363px;
        left: calc(50% + 6px);
        transform: translateX(-50%);
    }

    #bi1 {
        position: absolute;
        left: 134px;
        top: 235px;
        transform: scale(0.9);
    }

    #bi2 {
        position: absolute;
        left: 134px;
        top: 383px;
        transform: scale(0.9);
    }

    #bi3 {
        position: absolute;
        left: 134px;
        top: 537px;
        transform: scale(0.9);
    }

    #bi4 {
        position: absolute;
        left: 443px;
        top: 386px;
        transform: scale(0.9);
    }

    #rightCorner {
        position: absolute;
        top: 24px;
        right: 33px;
    }

    #functionOverlay {
        position: absolute;
        top: 273px;
        display: block;
        right: 148px;
        height: 28px;
        border-radius: 14px;
        width: 120px;
        z-index: 2;
        cursor: pointer;
        background-color: adjust-color($tealAccent, $alpha: -0.97);
        transition: opacity 0.2s ease;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }

    #bi4 {
        position: absolute;
        left: 442px;
        top: 386px;
        transform: scale(0.9);
    }

    #tf1 {
        top: 295px;
        left: 335px;
        transform: rotate(-120deg);
    }

    #tf2 {
        top: 383px;
        left: 335px;
        transform: rotate(180deg);
    }

    #tf3 {
        top: 469px;
        left: 335px;
        transform: rotate(120deg);
    }
}

.live-object-data-flow__tf-icon {
    position: absolute;
    z-index: 3;
    height: 12px;
    width: 12px;
    fill: $blueAccent;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    opacity: 0.7;
    transition: opacity 0.2s ease;

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover {
        opacity: 1;
    }
}

.live-object-data-flow__diagram {
    position: absolute;
    top: 225px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    tspan {
        font-family: CodeRegular;
    }

    path:not(.function-path) {
        stroke-dasharray: 4;
        animation: dash 18s linear infinite;
    }

    line {
        stroke-dasharray: 4;
        animation: dash 18s linear infinite reverse;
    }
}

.live-object-data-flow__text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.live-object-data-flow__name {
    font-size: 13px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    margin-bottom: 15px;
    color: $tealAccent;
    margin-top: 60px;
}

.live-object-data-flow__title {
    width: 100%;
    display: block;
    font-family: Bold;
    font-size: 37px;
    line-height: 56px;
    letter-spacing: 0.31px;
    color: #fff;
    font-family: Bold;
    text-shadow: 0 0 85px rgba(65,120,255,0.25), 0 0 40px rgba(192,219,255,0.45);
    text-align: center;
}

.live-object-data-flow__subtitle {
    width: 100%;
    display: block;
    margin-top: 13px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: adjust-color(#D2D2E6, $alpha: -0.3);
    text-align: center;
}

.live-object-data-flow__author {
    width: 100%;
    display: block;
    margin-top: 8px;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: adjust-color(#D2D2E6, $alpha: -0.3);
    text-align: center;

    span:last-child {
        color: $white;
    }
}

.live-object-data-flow__back-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 30px;
    top: 24px;
    opacity: 1;
    transition: opacity 0.11s ease;
    cursor: pointer;

    &:hover {
        opacity: 0.85;
    }

    span:first-child {
        height: 12px;
        width: 12px;
        margin-right: 6px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg {
            transform: rotate(90deg);
            width: 10px;
            height: auto;
        }
    }

    span:last-child {
        font-size: 13px;
        color: $gray;
        display: inline-block;
    }
}

.live-object-data-flow__footer {
    position: fixed;
    bottom: 0;
    height: 36px;
    left: 61px;
    right: 0;
    background-color: $backgroundMedium;
    border-top: 1px solid rgba(114, 122, 146, 0.08);
}

.live-object-data-flow__footer-liner {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    div:nth-child(1),
    div:nth-child(3) {
        width: calc((100% - 270px) / 2);
    }

    div:nth-child(2) {
        width: 270px;
        position: relative;

        &:before,
        &:after {
            position: absolute;
            top: 7px;
            bottom: 7px;
            background-color: adjust-color($lightGray, $alpha: -0.92);
            width: 1px;
            content: '';
            display: inline-block;
        }

        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }

    span {
        font-size: 10.5px;
        letter-spacing: 0.32;
        color: $lightGray;
        display: inline-block;
        text-transform: uppercase;
    }
}

