.live-objects-ecosystem {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;

    & > img {
        position: absolute;
        top: 185px;
        left: 35px;
        transition: opacity 0.05s ease;
        opacity: 1;
        pointer-events: none;
    }

    & > span:last-child { 
        right: 0px;
        top: 180px;
        width: 292px;
        height: 320px;
        display: block;
        position: absolute;
        background-image: linear-gradient(90deg, rgba(14,13,36,0.00) 0%, rgba(14,13,36,0.86) 61%, #0E0D24 83%);
        z-index: 1;
        pointer-events: none;
        transition: opacity 0.05s ease;
        opacity: 1;
    }

    &.live-objects-ecosystem--show-results {
        & > img {
            opacity: 0;
        }

        & > span:last-child {
            opacity: 0;
        }
    }
}

.live-objects-ecosystem__search-container {
    display: block;
    width: 100%;
    height: 100%;
    padding: 41px;
    padding-top: 14px;
}

.live-objects-ecosystem__search {
    height: 66px;
    width: 100%;
    display: block;
    border-bottom: 1px solid adjust-color($gray, $alpha: -0.9);
    padding: 0 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.live-objects-ecosystem__search-liner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    // Icon
    span:first-child {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        svg {
            height: 14px;
            width: auto;
            fill: $lightGray;
        }
    }

    input {
        display: inline-block;
        margin-left: 14px;
        color: $white;
        letter-spacing: 0.2px;
        width: 100%;
        line-height: 24px;
        font-size: 16px;
        outline: none !important;
        border: none !important;
        background-color: transparent;
        box-shadow: none !important;

        &::placeholder {
            color: $lightGray;
        }

        &::-webkit-input-placeholder {
            color: $lightGray;
        }

        &::-moz-placeholder {
            color: $lightGray;
        }
    }
}

.live-objects-ecosystem__filters {
    height: 66px;
    width: 100%;
    display: block;
    padding: 0 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.live-objects-ecosystem__filters-liner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.live-objects-ecosystem__categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    span {
        display: inline-block;
        text-align: center;
        min-width: 60px;
        border-radius: 13px;
        padding: 6px 12px 4px;
        background-color: adjust-color($backgroundLight, $alpha: -0.58);
        color: adjust-color($lightGray, $alpha: -0.2);
        font-size: 12px;
        font-family: Medium;
        cursor: pointer;
        margin-right: 13px;

        &:first-child {
            background-color: adjust-color($white, $alpha: -0.1);
            color: $backgroundDark;
            font-family: DemiBold;
        }
    }
}

.live-objects-ecosystem__more-categories-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 4px;

    svg {
        width: 13px;
        height: auto;
        fill: adjust-color($gray, $alpha: -0.6);
    }
}

.live-objects-ecosystem__sort-by {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 3px;

    // Text
    span:first-child {
        font-size: 12px;
        color: $gray;
        white-space: nowrap;
        display: inline-block;
    }

    // Icon
    span:last-child {
        margin-left: 10px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        svg {
            height: 6.5px;
            position: relative;
            top: 1px;
            width: auto;
            fill: $gray;
        }
    }
}

.live-objects-ecosystem__results {
    width: 100%;
    height: auto;
    display: block;
    overflow-y: overlay;
    overflow-x: hidden;
    scrollbar-width: thin;
    border-radius: 4px;
    margin-top: 2px;

    .live-object-search-result {
        padding: 27px;
        cursor: pointer;

        &:after {
            display: none;
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 4px;
        transition: all 1s ease;
    }

    &:hover {
        scrollbar-color: adjust-color($white, $alpha: -0.95) transparent;

        &::-webkit-scrollbar-thumb {
            background-color: adjust-color($white, $alpha: -0.95);
        }
    }
}

.live-objects-ecosystem__results-liner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
