$newLiveColumnPrimaryDetailsIconSideLength: 70px;
$newLiveColumnPrimaryDetailsIconOffsetRight: 21px;
$newLiveColumnPrimaryDetailsLinksOffsetLeft: 20px;

.new-live-column-specs {
    width: 100%;
    height: 100%;
    display: block;
    overflow: scroll;
    overflow-y: overlay;
    overflow-x: hidden;
    scrollbar-width: thin;

    // &::-webkit-scrollbar {
    //     width: 8px;
    //     height: 8px;
    // }

    // &::-webkit-scrollbar-track {
    //     background: transparent;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background-color: transparent;
    //     border-radius: 4px;
    //     transition: all 1s ease;
    // }

    // &:hover {
    //     scrollbar-color: adjust-color($white, $alpha: -0.95) transparent;

    //     &::-webkit-scrollbar-thumb {
    //         background-color: adjust-color($white, $alpha: -0.95);
    //     }
    // }

    // &.new-live-column-specs--newLiveTable {
    //     .editable-live-columns {
    //         margin-top: 16px;
    //         // padding-top: 30px;
    //         position: relative;
        
    //         // &:after {
    //         //     content: '';
    //         //     display: block;
    //         //     position: absolute;
    //         //     right: 1px;
    //         //     top: 0;
    //         //     left: 0px;
    //         //     background-color: adjust-color($gray, $alpha: -0.9);
    //         //     height: 1px;
    //         // }
    //     }
    // }
}

.new-live-column-specs__primary-details {
    display: block;
    padding: 25px 33px 24px;
    width: 100%;
    border-bottom: 1px solid adjust-color($gray, $alpha: -0.92);
}

.new-live-column-specs__primary-details-liner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.new-live-column-specs__primary-details-icon {
    display: block;
    height: $newLiveColumnPrimaryDetailsIconSideLength;
    width: $newLiveColumnPrimaryDetailsIconSideLength;
    margin-right: $newLiveColumnPrimaryDetailsIconOffsetRight;

    img {
        display: block;
        height: $newLiveColumnPrimaryDetailsIconSideLength;
        width: $newLiveColumnPrimaryDetailsIconSideLength;
        border-radius: 10px;
    }
}

.new-live-column-specs__primary-details-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.new-live-column-specs__primary-details-main-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.new-live-column-specs__primary-details-name {
    display: inline-block;
    font-family: Regular;
    font-size: 19px;
    color: $white;
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new-live-column-specs__primary-details-desc {
    display: inline-block;
    font-family: Regular;
    font-size: 13.5px;
    letter-spacing: 0.11px;
    color: adjust-color($lightGray, $alpha: -0.3);
    width: 100%;
    overflow: hidden;
    margin-top: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.new-live-column-specs__primary-details-chains {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 13px;
    position: relative;

    &:after {
        position: absolute;
        display: block;
        content: '';
        left: -3px;
        width: 3px;
        height: 3px;
        margin-top: 1px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $gray;
        opacity: 0.15;
    }
}

.new-live-column-specs__primary-details-chain {
    height: 22px;
    width: auto;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 11px;
    cursor: default;
    color: $white;
    background-color: adjust-color($backgroundLight, $alpha: -0.5);
    margin-left: 10px;

    span {
        display: inline-block;
        font-size: 10.5px;
        font-family: Regular;
        position: relative;
        top: -0.5px;
    }

    &.new-live-column-specs__primary-details-chain--ethereum {
        color: $blueAccent;
        background-color: adjust-color($blueAccent, $alpha: -0.95);
    }

    &.new-live-column-specs__primary-details-chain--polygon,
    &.new-live-column-specs__primary-details-chain--mumbai {
        color: $purpleAccent;
        background-color: adjust-color($purpleAccent, $alpha: -0.92);
    }
}

.new-live-column-specs__primary-details-links {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding-left: $newLiveColumnPrimaryDetailsLinksOffsetLeft;
    margin-left: auto;
    justify-self: flex-end;
    position: relative;
    top: 1px;
}

.new-live-column-specs__primary-details-link {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 22px;
    cursor: default;

    &.new-live-column-specs__primary-details-link--gh {
        height: 22px;

        &:hover {
            svg {
                opacity: 1;
            }
        }

        svg {
            width: 16px;
            height: auto;
            fill: $gray;
            opacity: 0.6;
            transition: 0.15s ease;
        }
    }

    &.new-live-column-specs__primary-details-link--nsp {
        font-size: 12px;
        color: adjust-color($gray, $alpha: -0.2);
        padding-right: 2px;
        letter-spacing: 0.1px;
        margin-top: 11px;
        height: 16px;
    }
}


a.new-live-column-specs__primary-details-link {
    cursor: pointer;
}

.new-live-column-specs__docs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: $typeOverviewDocsWidth;
}

.new-live-column-specs__doc-object-name {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: $gray;
    margin-bottom: 17px;

    span:nth-child(2) {
        margin: 0 8px;
    }

    span:first-child {
        color: $tealAccent;
        font-family: CodeRegular;
        font-size: 12.5px;
    }
}

.new-live-column-specs__doc-properties {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: -4px;
}

.new-live-column-specs__doc-property {
    border-top: 1px solid adjust-color($gray, $alpha: -0.95);
    padding: 17px 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &:first-child {
        border-top: none;
    }

    // Name and type
    & > div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        span:first-child {
            display: inline-block;
            font-size: 12px;
            color: adjust-color($white, $alpha: -0.1);
            font-family: CodeRegular;
            letter-spacing: 0.1px;
        }

        span:last-child {
            display: inline-block;
            margin-left: 7px;
            color: adjust-color($gray, $alpha: -0.3);
            font-size: 12px;
        }
    }

    // Description
    & > div:last-child {
        display: inline-block;
        color: adjust-color($lightGray, $alpha: -0.3);
        margin-top: 7px;
        width: 100%;
        font-size: 13px;
        line-height: 23px;
    }
}

.new-live-column-specs__interface {
    width: $typeOverviewInterfaceWidth;
    display: block;
    height: auto;
    min-width: 270px;
    margin-right: $typeOverviewGutterSpacing;
}

.new-live-column-specs__interface-header {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 0;
    user-select: none;
    margin-top: 15px;
    margin-bottom: 16px;
    margin-left: -1px;

    .new-live-column-specs__interface-header-slider {
        height: 28px;
        border-radius: 14px;
        display: inline-block;
        position: absolute;
        top: 7px;
        cursor: pointer;
        z-index: 1;
        background-color: adjust-color($backgroundLight, $alpha: -0.4);
        transition: all 0.3s $defaultTiming;
        pointer-events: none;
    }

    // Always 32px
    &.new-live-column-specs__interface-header--index-0 .new-live-column-specs__interface-header-slider {
        left: 0;
    }

    &.new-live-column-specs__interface-header--index-1 {
        &.new-live-column-specs__interface-header--example {
            .new-live-column-specs__interface-header-slider {
                left: calc(0px + 78px + 4px);
            }
        }
    }

    // Type Definition
    &.new-live-column-specs__interface-header--interface .new-live-column-specs__interface-header-slider {
        width: 78px;
    }

    // Examples
    &.new-live-column-specs__interface-header--example .new-live-column-specs__interface-header-slider {
        width: 76.48px;
    }
}

.new-live-column-specs__interface-header-tab {
    margin-left: 4px;
    font-size: 12px;
    letter-spacing: 0.15px;
    cursor: pointer;
    height: 28px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: adjust-color($lightGray, $alpha: -0.4);
    transition: all 0.15s ease;
    padding: 0 14px;
    border-radius: 14px;
    position: relative;
    z-index: 2;

    &:nth-child(2) {
        margin-left: 0;
    }

    &:not(.new-live-column-specs__interface-header-tab--selected):hover {
        color: $lightGray;
    }

    &.new-live-column-specs__interface-header-tab--selected {
        color: $white;
    }
}

.new-live-column-specs__version {
    height: 40px;
    margin: 15px 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    span {
        display: inline-block;
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        letter-spacing: 0.1px;
        color: adjust-color($gray, $alpha: -0.2);
        padding-right: 2px;
    }
}

.new-live-column-specs__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 38px 33px;
    border-bottom: 1px solid adjust-color($gray, $alpha: -0.9);

    &.new-live-column-specs__section--live-columns {
        .new-live-column-specs__section-title {
            padding-left: 19px;
        }
    }

    &.new-live-column-specs__section--filters {
        padding-bottom: 36px;

        .new-live-column-specs__section-icon svg {
            fill: none
        }

        .new-live-column-specs__section-subtitle {
            padding-left: 2px;
            margin-top: 1px;
            color: adjust-color($lightGray, $alpha: -0.1);
        }
    }

    &.new-live-column-specs__section--table-info {
        .new-live-column-specs__section-icon svg {
            height: 11.5px;
            opacity: 0.85;
            top: -0.5px;
            left: 1px;
            position: relative;
        }
    }

    &.new-live-column-specs__section--live-columns,
    &.new-live-column-specs__section--table-info {
        .new-live-column-specs__section-title {
            & > span:nth-child(2) {
                margin-left: 1px;
            }

            & > span:nth-child(3) {
                margin-left: 6px;
                margin-right: 5px;
                font-size: 13px;
                color: adjust-color($gray, $alpha: -0.6);
                position: relative;

                // &:before {
                //     position: absolute;
                //     height: 2.5px;
                //     width: 2.5px;
                //     border-radius: 50%;
                //     background-color: $gray;
                //     opacity: 0.15;
                //     content: '';
                //     top: 50%;
                //     left: 50%;
                //     transform: translate3d(-50%, -50%, 0);
                // }
            }

            & > span:nth-child(4) {
                font-size: 12.5px;
                letter-spacing: 0.1px;
                color: adjust-color($gray, $alpha: -0.3);
                position: relative;
            }
        }
    }

    &.new-live-column-specs__section--mapping {
        .new-live-column-specs__section-title {
            padding-left: 20px;
        }

        .new-live-column-specs__section-icon svg {
            left: 1px;
        }
    }

    &.new-live-column-specs__section--filters {
        .new-live-column-specs__section-title {
            padding-left: 21px;
        }
    }

    &.new-live-column-specs__section--new-table {
        .new-live-column-specs__section-icon svg {
            height: 11.5px;
            opacity: 0.9;
            left: 0;
            margin-top: -0.5px;
        }
    }
}

.new-live-column-specs__section-title {
    font-size: 14px;
    letter-spacing: 0.2px;
    display: inline-block;
    color: $white;
    position: relative;
    padding-left: 22px;

    .blink-indicator {
        position: absolute;
        top: 50%;
        transform: translateY(calc(-50% - 0px)) scale(1.1);
        left: 0.5px;
    }
}

.new-live-column-specs__section-subtitle {
    font-size: 12.5px;
    letter-spacing: 0.16px;
    display: inline-block;
    margin-top: 13px;
    color: adjust-color($lightGray, $alpha: -0.3);
}

.new-live-column-specs__section-icon {
    position: absolute;
    top: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    left: -1px;

    svg {
        height: 13.5px;
        width: auto;
        color: $tealAccent;
        fill: currentColor;
    }
}

// .new-live-column-specs__transform-section-title {
//     position: relative;
//     padding-left: 21px;

//     span:first-child {
//         position: absolute;
//         top: 50%;
//         display: inline-flex;
//         align-items: center;
//         justify-content: center;
//         transform: translateY(-50%);
//         left: 0;

//         svg {
//             height: 12px;
//             width: auto;
//             fill: $tealAccent;
//         }
//     }
// }

.new-live-column-specs__section-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.new-live-column-specs__type-overview {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 24px;

    // &:hover {
    //     .interface-example-snippet__toggle-button {
    //         transform: scale(1);
    //         opacity: 1;
    //     }
    // }

    .new-live-column-specs__type-overview-liner {
        display: flex;
        flex-direction: row;
        padding: 0 33px 36px;
        border-bottom: 1px solid adjust-color($gray, $alpha: -0.9);
        justify-content: space-between;
        align-items: flex-start;    
        overflow: hidden;
        position: relative;
        transition: height .65s $defaultTiming;

        &.new-live-column-specs__type-overview-liner--expanded {
            &:after {
                opacity: 0;
            }
        }

        &:after {
            content: '';
            background: linear-gradient(180deg, adjust-color($backgroundMedium, $alpha: -1.0) 0%, adjust-color($backgroundMedium, $alpha: -0.15) 60%, $backgroundMedium 80%);
            display: block;
            width: 100%;
            left: 0;
            bottom: 0;
            height: 106px;
            position: absolute;
            z-index: 1;
            pointer-events: none;
            opacity: 1;
            transition: opacity .5s $defaultTiming;
        }
    }

    .new-live-column-specs__expand {
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        height: 30px;
        width: 30px;
        display: inline-flex;
        cursor: pointer;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 2;
        border-radius: 15px;
        background-color: $backgroundMedium;
        border: 1px solid adjust-color($gray, $alpha: -0.85);
        transition: background-color 0.15s ease;

        &:hover {
            background-color: #20203e;

            svg {
                opacity: 1;
            }
        }

        svg {
            height: 7px;
            width: auto;
            transition: opacity 0.15s ease 0s, transform 0.15s ease 50ms;
            transform: rotate(0deg);
            transform-origin: center;
            opacity: 0.8;

            #caret {
                stroke: $white;
            }
        }

        &.new-live-column-specs__expand--expanded {
            svg {
                transform: rotate(180deg) translateY(1px);
            }
        }
    }
}

.new-live-column-specs__filters-question {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.new-live-column-specs__filters-toggle-container {
    display: inline-block;
    width: 195px;
}

.new-live-column-specs__filters-container {
    display: block;
    width: 100%;
}

.new-live-column-specs__action-buttons {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

    &.new-live-column-specs__action-buttons--transform {
        margin-top: 20px;

        button {
            border: 1px solid adjust-color($gray, $alpha: -0.7);
        }
    }

    button {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid adjust-color($gray, $alpha: -0.8);
        border-radius: 5px;
        color: adjust-color($white, $alpha: -0.1);
        height: 30px;
        padding: 0 11px 1px;
        cursor: pointer;
        transition: background-color .15s ease;

        span:first-child {
            font-size: 13px;
            position: relative;
            top: -1px;
        }

        span:last-child {
            font-size: 11.5px;
            margin-left: 5px;
            letter-spacing: 0.11px;
        }

        &:hover {
            background-color: adjust-color($backgroundLight, $alpha: -0.75);
        }
    }
}