@keyframes new-col-blink {
    0% {
        box-shadow: 0 0 0 0 $tealAccent;
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

.new-column-dropdown {
    width: 340px;
    background-color: $backgroundMedium;
    z-index: 9;
    position: absolute;
    right: -3px;
    top: calc(100% + 7px);
    border-radius: 6px;
    box-shadow: 0 0 40px $boxShadowColor;
    border: 1px solid adjust-color($gray, $alpha: -0.95);
    padding: 4px 0;
}

.new-column-dropdown__liner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.new-column-dropdown__option {
    width: 100%;
    padding: 16px 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    transition: all 0.15s ease;
    cursor: pointer;

    // Live Column
    &.new-column-dropdown__option--live {
        & > div:first-child {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                height: 26px;
                width: 7.5px;
                border-radius: 1.5px;
                background-color: $tealAccent;
                display: block;
                right: 2.5px;
                top: 4px;
            }    
        }

        & > div:last-child {
            & > span:first-child {
                color: $tealAccent;
            }
        }

        &:hover {
            & > div:first-child:before {
                animation: new-col-blink 1.8s infinite;
            } 
        }
    }

    // Contract Call
    &.new-column-dropdown__option--contract > div:first-child {
        position: relative;
        background-image: url('https://dbjzhg7yxqn0y.cloudfront.net/v1/fx.png');
        background-size: 110% 110%;
        background-position: center;
    }

    &:hover {
        background-color: adjust-color($backgroundLight, $alpha: -0.8);
    }

    &:not(:last-child) {
        border-bottom: 1px solid adjust-color($gray, $alpha: -0.92);
    }

    & > div:first-child {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 35px;
        min-width: 35px;
        border-radius: 5px;

        svg {
            height: 26px;
            width: auto;
        }
    }

    & > div:last-child {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 15px;

        span:first-child {
            display: inline-block;
            font-size: 13px;
            color: $white;
            margin-bottom: 4px;
            letter-spacing: 0.1px;
        }

        span:last-child {
            display: inline-block;
            font-size: 11px;
            color: $gray;
            letter-spacing: 0.1px;
        }
    }
}