.prompt {
    display: block;
    height: auto;
    width: 100%;
    border-radius: 5px;
    padding: 16px 0 0;
    margin-top: 5px;
    position: relative;

    .--code {
        font-family: CodeRegular;
        font-size: 11px;
        padding-left: 4px;
        padding-right: 2px;
    }

    // info level
    &.prompt--0 {
        background-color: adjust-color($blueAccent, $alpha: -0.95);
        border: 1px solid adjust-color($blueAccent, $alpha: -0.91);
        height: 100px;

        .prompt-title {
            color: $blueAccent;

            pre {
                position: relative;
                z-index: 1;
                font-size: 11px;
                font-family: CodeRegular;
                color: $blueAccent;
                display: inline-block;
                padding: 0 1.5px;
                margin-left: 4px;
                margin-right: 4px;
    
                &:before {
                    left: -3px;
                    right: -3px;
                    top: -3px;
                    bottom: -4px;
                    border-radius: 4px;
                    background-color: adjust-color($blueAccent, $alpha: -0.95);
                    display: inline-block;
                    content: '';
                    position: absolute;
                    z-index: -1;
                }
            }

            span {
                font-family: Italic;
                margin-left: 6px;
                font-size: 10.5px;
                opacity: 0.5;
                color: $lightGray;
            }
        }

        .prompt-icon svg {
            color: $blueAccent;
        }
    }
}

.prompt-liner {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.prompt-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.prompt-main-top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    height: 24px;
    padding: 0 17px;
    width: 100%;
}

.prompt-icon {
    display: inline-block;
    height: auto;
    width: auto;

    svg {
        height: 14px;
        width: auto;
        position: relative;
    }
}

.prompt-title {
    display: inline-block;
    font-size: 13px;
    margin-left: 8px;
}

.prompt-main-bottom {
    display: inline-block;
    width: 100%;
}

.prompt-subtitle {
    display: inline-block;
    font-size: 12px;
    color: adjust-color($lightGray, $alpha: -0.3);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 2px;
    padding: 0 17px;
    letter-spacing: 0.1px;
    margin-left: 1px;
}

.prompt-buttons-container {
    display: inline-flex;
    height: 100%;
    margin-left: auto;
    justify-self: flex-end;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 16px;
    right: 18px;
}

.add-foreign-key-prompt__fk-body {
    display: block;
    width: 100%;
    padding: 9px 17px 10px;
}

.add-foreign-key-prompt__fk-body-liner {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    & > span {
        height: 12px;
        width: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $white;
        margin: 0 8px;

        svg {
            width: 10px;
            height: auto;
        }
    }
}

.add-foreign-key-prompt__fk-col-name {
    width: 120px;
    height: 32px;
    position: relative;

    input {
        width: 100%;
        position: relative;
        padding-left: 12px;
        padding-right: 12px;
        outline: none !important;
        background-color: adjust-color($blueAccent, $alpha: -1);
        border: 1px solid adjust-color($blueAccent, $alpha: -0.89);
        cursor: text;
        border-radius: 4px;
        font-family: CodeRegular;
        font-size: 11px;
        height: 32px;
        color: $white;

        &::placeholder {
            color: adjust-color($gray, $alpha: -0.2);
        }

        &::-webkit-input-placeholder {
            color: adjust-color($gray, $alpha: -0.2);
        }

        &::-moz-placeholder {
            color: adjust-color($gray, $alpha: -0.2);
        }
    }

    .add-foreign-key-prompt__fk-col-name-link-icon {
        position: absolute;
        right: 11px;
        top: 9px;
        height: auto;
        width: 12px;

        svg {
            height: auto;
            width: 12px;
            fill: $blueAccent;
            opacity: 0.9;
        }
    }
}

.add-foreign-key-prompt__ref-key-input {
    height: 32px;
    width: auto;

    &.select-input {
        .spec__single-value,
        .spec__placeholder,
        .spec__input-container,
        .spec__option,
        .spec__multi-value__label,
        .spec__input > * {
            font-family: CodeRegular;
        }

        .spec__option {
            font-size: 11px;
            color: $lightGray;
            height: 26px;
            line-height: 26px;

            &.spec__option--is-selected {
                color: $blueAccent;
            }
        }

        .spec__single-value,
        .spec__multi-value__label,
        .spec__placeholder {
            font-size: 11px;
            letter-spacing: normal;
        }
        .spec__placeholder {
            color: adjust-color($gray, $alpha: -0.2);
        }
        .spec__control {
            height: 32px;
            background-color: adjust-color($blueAccent, $alpha: -1) !important;
            border: 1px solid adjust-color($blueAccent, $alpha: -0.89) !important;
            border-radius: 4px;        
        }

        .spec__value-container {
            padding-left: 7px !important;
        }
    }
}

.add-foreign-key-prompt__buttons {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -3px;
    right: -5px;
}

.add-foreign-key-prompt__button {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9.5px;
    font-family: Medium;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transition: all 0.2s ease;
    background-color: transparent;
    animation: none;
    cursor: pointer;
    position: relative;
    color: $blueAccent;
    border: 1px solid adjust-color($blueAccent, $alpha: -0.88);
    background-color: adjust-color($blueAccent, $alpha: -0.95);

    &:hover {
        background-color: adjust-color($blueAccent, $alpha: -0.9);
    }

    &:first-child {
        margin-right: 7px;
    }
    
    & > span {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 13px;
        width: 13px;
        color: currentColor;

        svg {
            stroke: currentColor;
            height: 13px;
            width: auto;
        }
    }
    
    &:not(.add-foreign-key-prompt__button--yes) svg {
        stroke-width: 1.7;
    }

    &.add-foreign-key-prompt__button--yes {
        &.add-foreign-key-prompt__button--added {
            div {
                opacity: 0;
            }
            span {
                opacity: 1;
            }
            div svg .stroke {
                stroke-dashoffset: 12;
            }
        }
        &.add-foreign-key-prompt__button--animate {  
            div {
                opacity: 1;
            }
            span {
                opacity: 0;
            }  
            div svg .stroke {
                transition: all 0.12s linear 0.1s;
                stroke-dashoffset: 0;
            }
        }

        div {
            width: 10px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: opacity 0.2s ease;

            svg {
                width: 10px;
                height: auto;

                .stroke {
                    stroke-dashoffset: 0;
                    stroke-dasharray: 12;
                    stroke: $blueAccent;
                }
            }
        }

        span {
            opacity: 0;
            transition: opacity 0.2s ease;

            &.svg-spinner {
                width: 12px;
                height: 12px;

                circle {
                    stroke: $blueAccent;
                }
            }
        }
    }
}
