.select-input__dropdown-icon {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;

    svg {
        width: 10px;
        height: auto;
        opacity: 0.5;
        margin-right: 11px;
        pointer-events: none;
        position: relative;
        top: 1px;
    }
}

.spec__control {
    min-height: unset !important;
    background-color: adjust-color($backgroundLight, $alpha: -0.6) !important;
    border: 1px solid adjust-color($gray, $alpha: -0.9) !important;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none !important;
    color: $white;
    width: 100%;
    height: 100%;
    padding-left: 3px;
    font-size: 12px;
    letter-spacing: 0.1px;
    cursor: pointer !important;
    transition: all 0.22s ease !important;
}

.select-input {
    .spec__input {
        cursor: pointer;
    }
    
    .spec__value-container {
        padding: 0 !important;
    }

    .spec__indicator-separator {
        display: none;
    }

    .spec__single-value,
    .spec__input-container,
    .spec__input > * {
        color: $white !important;
    }

    .spec__placeholder {
        color: adjust-color($gray, $alpha: -0.2);
    }

    .spec__menu {
        z-index: 9;
        margin-top: 6px;
        background-color: $backgroundLight;
        border-radius: 4px !important;
        border: 1px solid adjust-color($gray, $alpha: -0.9);
        box-shadow: 0 0 20px adjust-color($backgroundDark, $alpha: -0.35);
    }

    .spec__menu-list {
        max-height: 123px;
        scrollbar-width: thin;
        overflow: scroll;

        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
    
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
            border-radius: 2.5px;
            transition: all 1s ease;
        }
    
        &::-webkit-scrollbar-corner {
            background: transparent;
        }

        &:hover {
            scrollbar-color: adjust-color($backgroundDark, $alpha: -0.7) transparent;
    
            &::-webkit-scrollbar-thumb {
                background-color: adjust-color($backgroundDark, $alpha: -0.7);
            }
        }    
    }

    .spec__option {
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        padding: 0 10px;
        text-align: left;
        cursor: pointer;
        transition: all 0.1s ease;

        &.spec__option--is-focused {
            background-color: adjust-color($backgroundMedium, $alpha: -0.75);
            color: $lightGray;
        }

        &.spec__option--is-selected {
            color: $tealAccent;
            background-color: transparent;

            &.spec__option--is-focused {
                background-color: adjust-color($backgroundMedium, $alpha: -0.75);
            }
        }

        &.spec__option--is-disabled {
            cursor: default;
            opacity: 0.3;
        }
    }

    .spec__menu-notice,
    .spec__menu-notice--no-options {
        font-size: 11px;
        color: $gray;
        letter-spacing: 0.1px;
        opacity: 0.8;
    }
}

.spec__value-container.spec__value-container--is-multi {
    height: 100%;
}

.spec__multi-value {
    height: 80%;
    border-radius: 0px !important;
    background-color: transparent !important;
    margin: 2px 7px 2px 2px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex: 0 0 auto;

    &:before {
        content: '';
        right: -5px;
        top: 3px;
        bottom: 3px;
        background-color: adjust-color($white, $alpha: -0.95);
        position: absolute;
        display: block;
        width: 1px;
    }    
}

.spec__multi-value__label {
    color: $white !important;
}

.spec__multi-value__remove {
    height: 18px;
    width: 18px;
    background-color: transparent;
    padding: 0 !important;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    background-color: transparent;
    color: adjust-color($gray, $alpha: -0.3);

    &:hover {
        background-color: adjust-color($backgroundLight, $alpha: -0) !important;
        color: $white !important;
    }

    svg {
        height: 12px !important;
        width: auto !important;
        fill: currentColor;
        position: relative;
        top: 1px;
    }
}