$loaderTime: 2.3s;

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes show-loader {
    0% {
        opacity: 0%;
    }

    20% {
        opacity: 0.4;
    }

    90% {
        opacity: 0.4;
    }
    
    100% {
        opacity: 0;
    }
}

.tables-body {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;

    &.tables-body--backfilling {
        .tables-body__row {
            &.tables-body__row--new {
                opacity: 0;

                .tables-body__cell {
                    span {
                        color: $tealAccent;
                    }
                }
            }
        }
    }

    &.tables-body--populating {
        .tables-body__row {
            &.tables-body__row--new {
                opacity: 1;

                .tables-body__cell {
                    span {
                        color: $tealAccent;
                    }
                }
            }
        }
    }

    &.tables-body--in-sync {
        .tables-body__cell--null {
            span {
                color: $gray;
                opacity: 0.5;
            }
        }

        .tables-body__cell.tables-body__cell--live:not(.tables-body__cell--live-link) {
            &.tables-body__cell--null {
                span {
                    color: $gray;
                    opacity: 0.5;
                }
            }
        }

        .tables-body__header-status {
            &.tables-body__header-status--backfilling {
                opacity: 0;
            }
            &.tables-body__header-status--in-sync {
                opacity: 1;
            }
        }
    }
}

.tables-body__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $tablesSectionHeaderHeight;
}

// ####################
// HEADER LEFT SIDE
// ####################

.tables-body__header-left {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 28px;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tables-body__header-left-liner {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tables-body__header-left-top,
.tables-body__header-left-bottom {
    height: 27px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tables-body__header-left-top {
    margin-bottom: 14px;
}

.tables-body__table-name {
    display: inline-block;
    font-size: 20px;
    color: $white;
    letter-spacing: 0.17px;
    white-space: nowrap;
    position: relative;
    margin-left: 2px;
    
    & > span {
        margin-top: -2px;
    }

    &:after {
        position: absolute;
        content: '';
        display: block;
        height: 14px;
        width: 1px;
        background-color: $backgroundMedium;
        top: 7.5px;
        right: -17px;
    }
}

.tables-body__table-desc {
    margin-left: 32px;
    display: inline-block;
    font-size: 12.5px;
    color: $gray;
    letter-spacing: 0.11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.7;
    margin-top: 3px;

    i {
        font-family: Regular;
        font-style: normal;
        opacity: 0.5;
    }
}

.tables-body__header-status-container {
    height: 25px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90px;
    position: relative;
    margin-right: 17px;
}

.tables-body__header-status {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 12.5px;
    background-color: transparent;
    border: 1px solid adjust-color($tealAccent, $alpha: -0.75);
    color: $tealAccent;
    font-size: 11px;
    transition: all 0.25s ease;
    letter-spacing: 0.1px;
    width: 100%;
    height: 100%;
    opacity: 1;

    &.tables-body__header-status--in-sync {
        border: none;
        background-color: adjust-color($tealAccent, $alpha: -0.96);
        font-size: 10px;
        text-transform: uppercase;
        opacity: 0;
    }
}

.tables-body__header-status-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;

    &.tables-body__header-status-icon--check {
        margin-left: -2px;

        svg {
            width: 9px;
            height: auto;

            .stroke {
                stroke: $tealAccent;
            }
        }
    }
}

.tables-body__header-num-records {
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 12.5px;
    background-color: #16152f;
    color: adjust-color($lightGray, $alpha: -0.1);
    font-size: 11px;
    margin-right: 24px;
    min-width: 91px;
    cursor: default;

    & > span {
        & > span:first-child {
            margin-right: 4px;
        }
    }
}
 
.tables-body__filter-button,
.tables-body__sort-button,
.tables-body__search-button,
.tables-body__history-button {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: adjust-color($gray, $alpha: -0.3);
    margin-right: 26px;

    span:first-child {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        svg {
            height: auto;
        }
    }

    span:last-child {
        display: inline-block;
        font-size: 12px;
        letter-spacing: 0.2px;
        margin-left: 8px;
    }
}

.tables-body__filter-button {
    margin-left: 1px;

    span:first-child {
        svg {
            width: 13px;
        }
    }
}

.tables-body__sort-button {
    span:first-child {
        svg {
            width: 12px;
        }
    }
}

.tables-body__search-button {
    span:first-child {
        svg {
            fill: currentColor;
            width: auto;
            height: 11px;
            opacity: 0.9;
        }
    }
}

.tables-body__header-new-col-button {
    height: 27px;
    border: 1px solid adjust-color($white, $alpha: -0.78);
    border-radius: 13.5px;
    color: adjust-color($white, $alpha: -0.1);
    background-color: transparent;
    transition: all 0.15s ease;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: $backgroundMedium;
        color: $white;
    }

    &>span:first-child {
        padding-left: 10px;
        padding-right: 12px;
        height: 100%;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        span {
            position: relative;
            top: -0.5px;
        }

        span:first-child {
            font-size: 14px;
        }

        span:nth-child(2) {
            font-size: 11px;
            margin-left: 7px;
            letter-spacing: 0.2px;
        }
    }
}

// ####################
// HEADER RIGHT SIDE
// ####################

.tables-body__header-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: inline-flex;
    padding-right: 31px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.tables-body__header-right-liner {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 20px;
}

.tables-body__header-right-top,
.tables-body__header-right-bottom {
    height: 27px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.tables-body__rls-status {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    color: $greenAccent;
    opacity: 0.7;
    margin-bottom: 5px;

    span:first-child {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        svg {
            height: 11px;
            width: auto;
        }
    }

    span:last-child {
        display: inline-block;
        font-size: 11px;
        letter-spacing: 0.1px;
        margin-right: 8px;
    }
}

.tables-body__history-button {
    margin-top: 5px;
    margin-right: 0;
    flex-direction: row-reverse;

    span:first-child {
        svg {
            width: 11px;
            fill: currentColor;
            position: relative;
            top: 1px;
        }
    }

    span:last-child {
        margin-right: 8px;
    }
}

// ####################
// MAIN CONTENT
// ####################

.tables-body__main {
    position: absolute;
    top: $tablesSectionHeaderHeight;
    left: 0;
    width: 100%;
    // bottom: $tablesSectionFooterHeight;
    bottom: 0;
    display: block;
    border-top: 1px solid adjust-color($gray, $alpha: -0.92);
    overflow-y: overlay;
    overflow-x: overlay;
    scrollbar-width: thin;
    overscroll-behavior-x: contain;
    // scrollbar-color: $lightGray transparent;

    // &::-webkit-scrollbar {
    //     width: 7px;
    //     height: 7px;
    // }

    // &::-webkit-scrollbar-track {
    //     background: transparent;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background-color: $lightGray;
    //     border-radius: 3.5px;
    //     transition: all 1s ease;
    // }

    // &::-webkit-scrollbar-corner {
    //     background: transparent;
    // }

    // &:hover {
    //     // scrollbar-color: rgba(24, 22, 49, 0.7) transparent;
    //     scrollbar-color: adjust-color($lightGray, $alpha: -0) transparent;

    //     &::-webkit-scrollbar-thumb {
    //         background-color: adjust-color($lightGray, $alpha: -0);
    //         // background-color: rgba(24, 22, 49, 0.7);
    //     }
    // }
}

.tables-body__records {
    padding-bottom: 2px;
}

// All rows
.tables-body__col-headers,
.tables-body__row {
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.tables-body__row {
    &:hover {
        .tables-body__cell {
            background-color: #14132d;
        }
    }

    &.tables-body__row--new-accent {
        .tables-body__cell {
            span {
                color: $tealAccent;
            }
        }
    }    
}

.tables-body__col-headers {
    position: sticky;
    z-index: 8;
    top: 0;
}

.tables-body__table-loading {
    position: fixed;
    left: calc(#{$sideNavWidth} + #{$sidePanelWidth});
    top: calc(#{$dashHeaderHeight} + #{$tablesSectionHeaderHeight});
    height: 1px;
    width: calc(100% - #{$sideNavWidth} - #{$sidePanelWidth});
    display: block;
    right: auto;
    overflow: hidden;
    opacity: 0;
    z-index: 9;
    animation: show-loader $loaderTime linear infinite;
    animation-delay: 10ms;

    &:before {
        content: '';
        position: absolute;
        background-color: $tealAccent;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        animation: indeterminate $loaderTime cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        animation-delay: 10ms;
    }

    &:after {
        content: '';
        position: absolute;
        background-color: $tealAccent;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        animation: indeterminate-short $loaderTime cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: calc(#{$loaderTime} * 0.48 + 10ms);
    }
}

.tables-body__row {
    &>div:last-child {
        width: $tableNewColumnWidth;
    }
}

// All cells
.tables-body__col-header,
.tables-body__cell {
    height: $tableRowHeight;
    border-right: 1px solid adjust-color($gray, $alpha: -0.92);
    border-bottom: 1px solid adjust-color($gray, $alpha: -0.92);
    padding-left: 15px;
    padding-right: 15px;
}

.tables-body__cell {
    // transition: all 0.01s ease;
}

// All check cells
.tables-body__col-header.tables-body__col-header--check-col,
.tables-body__cell.tables-body__cell--check-col {
    min-width: 47px;
    z-index: 2;
    // position: sticky;
    left: 0;

    span {
        width: 16px;
        height: 16px;
        display: block;
        border-radius: 3px;
        border: 1px solid adjust-color($gray, $alpha: -0.8);
    }
}

.tables-body__col-header.tables-body__col-header--primary,
.tables-body__cell.tables-body__cell--primary {
    z-index: 2;
    // position: sticky;
    // left: 47px;
    border-right: 2px solid adjust-color($gray, $alpha: -0.92);
}

.tables-body__cell.tables-body__cell--check-col,
.tables-body__cell.tables-body__cell--primary {
    background-color: $backgroundDark;
}

// Header cells
.tables-body__col-header {
    background-color: #14132d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    &.tables-body__col-header--live {
        .tables-body__col-header-type {
            opacity: 1;
            color: $tealAccent;

            &>span {
                position: relative;

                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: calc(9px * 0.8);
                    height: calc(7px * 0.8);
                    background-image: url('../../svgs/into-arrow.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -12px;
                    pointer-events: none;
                    opacity: 0.75;
                    display: none;
                }
            }
        }

        &:not(.tables-body__col-header--live-link) {
            .tables-body__cell span {
                transition: opacity .1s ease;
                transition-delay: 0s;
                opacity: 0;
            }

            &:not(.tables-body__col-header--primary) {
                .blink-indicator {
                    transform: scale(0.8);
                }
    
                .tables-body__col-header-name {
                    margin-left: 18px;
                }
            }
        }
    }

    &.tables-body__col-header--force-green {
        .tables-body__col-header-type {
            color: $tealAccent;
        }
    }

    &.tables-body__col-header--new-col {
        width: $tableNewColumnWidth;
        justify-content: center;
        font-size: 16px;
        color: $gray;
        cursor: pointer;
        transition: all 0.15s ease;
        padding: 0;
        position: relative;

        &>span {
            height: 100%;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 0 15px;
        }

        &:hover {
            background-color: adjust-color($backgroundMedium, $alpha: -0.2);
            color: $white;
        }
    }
}

.tables-body__col-header-type-icon {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10.5px;

    // Primary Key
    &.tables-body__col-header-type-icon--key {
        opacity: 0.75;
        color: $lightGray;

        svg {
            width: 13px;
            height: auto;
        }
    }

    // Model Relationship
    &.tables-body__col-header-type-icon--rel {
        opacity: 0.75;
        color: $lightGray;

        svg {
            height: 11px;
            width: auto;
            fill: currentColor;
        }

        & + .tables-body__col-header-name {
            margin-left: 0 !important;
        }
    }

    // Live Object Link
    &.tables-body__col-header-type-icon--link {
        color: $tealAccent;
        margin-right: 9.5px;

        svg {
            width: 12px;
            height: auto;
            fill: currentColor;
        }
    }

    &.tables-body__col-header-type-icon--circle {
        display: inline-block;
        width: 9px;
        height: 9px;
        border: 1px solid adjust-color($tealAccent, $alpha: -0.6);
        border-radius: 50%;
        margin-right: 0;
        margin-top: 1px;
        margin-left: -1px;

        & + .tables-body__col-header-name {
            margin-left: 10px !important;
        }
    }
}

.tables-body__col-header-name {
    font-size: 13px;
    letter-spacing: 0.11px;
    color: $white;
    display: inline-block;
    position: relative;
    top: -0.5px;
}

.tables-body__col-header-type {
    display: inline-block;
    font-size: 11px;
    color: $gray;
    letter-spacing: 0.1px;
    opacity: 0.9;
    margin-left: auto;
    justify-self: flex-end;
}

.tables-body__cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    color: adjust-color($white, $alpha: -0.1);
    letter-spacing: 0.1px;
    padding-right: 10px;
    cursor: default;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.tables-body__cell--null {
        span {
            color: $gray;
            opacity: 0.5;
        }
    }
}

// ####################
// NO TABLES
// ####################

.tables-body__empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tables-body__empty-liner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    position: relative;
    top: -5px;
    left: -5px;
}

.tables-body__empty-icon {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;

    svg {
        height: 50px;
        width: auto;
    }
}

.tables-body__empty-text {
    font-size: 14px;
    color: $lightGray;
    letter-spacing: 0.15px;
    line-height: 27px;
    text-align: center;
    margin: 34px 0 20px;
}

.tables-body__empty-button {
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: Medium;
    background-color: $white;
    color: $backgroundMedium;
    border-radius: 15px;
    border: transparent;
    outline: transparent;
    transition: all 0.12s ease;
    padding: 0 20px;
    cursor: pointer;

    & > span {
        position: relative;
        top: 1px;
    }

    &:hover {
        background-color: adjust-color($white, $alpha: -0.13);
    }
}

// User.id
// Wallet.id
// NFT.id
.tables-body__col-header.tables-body__col-header--users-id,
.tables-body__cell.tables-body__cell--users-id,
.tables-body__col-header.tables-body__col-header--wallets-id,
.tables-body__cell.tables-body__cell--wallets-id,
.tables-body__col-header.tables-body__col-header--nfts-id, 
.tables-body__cell.tables-body__cell--nfts-id,
.tables-body__cell.tables-body__cell--wallets-id,
.tables-body__col-header.tables-body__col-header--marketplaces-id,
.tables-body__cell.tables-body__cell--marketplaces-id,
.tables-body__col-header.tables-body__col-header--marketplace_listings-id,
.tables-body__cell.tables-body__cell--marketplace_listings-id,
.tables-body__col-header.tables-body__col-header--collections-id,
.tables-body__cell.tables-body__cell--collections-id,
.tables-body__col-header.tables-body__col-header--assets-id, 
.tables-body__cell.tables-body__cell--assets-id,
.tables-body__col-header.tables-body__col-header--asset_sales-id,
.tables-body__cell.tables-body__cell--asset_sales-id,
.tables-body__col-header.tables-body__col-header--single_vaults-id,
.tables-body__cell.tables-body__cell--single_vaults-id,
.tables-body__col-header.tables-body__col-header--compound_markets-id,
.tables-body__cell.tables-body__cell--compound_markets-id  {
    min-width: 120px;
    width: 120px;
}

// Wallet.user_id
// NFT.wallet_id
// NFT.token_id
.tables-body__col-header.tables-body__col-header--wallets-user_id,
.tables-body__cell.tables-body__cell--wallets-user_id,
.tables-body__col-header.tables-body__col-header--nfts-wallet_id,
.tables-body__cell.tables-body__cell--nfts-wallet_id,
.tables-body__col-header.tables-body__col-header--nfts-token_id,
.tables-body__cell.tables-body__cell--nfts-token_id {
    min-width: 150px;
    width: 150px;
}

// User.created_at
.tables-body__col-header.tables-body__col-header--users-created_at,
.tables-body__cell.tables-body__cell--users-created_at {
    min-width: 190px;
    width: 190px;
}

// User.uid
// Wallet.address
.tables-body__col-header.tables-body__col-header--users-uid,
.tables-body__cell.tables-body__cell--users-uid,
.tables-body__col-header.tables-body__col-header--marketplaces-uid,
.tables-body__cell.tables-body__cell--marketplaces-uid,
.tables-body__col-header.tables-body__col-header--marketplaces-address,
.tables-body__cell.tables-body__cell--marketplaces-address,
.tables-body__col-header.tables-body__col-header--wallets-address,
.tables-body__cell.tables-body__cell--wallets-address
{
    min-width: 250px;
    width: 250px;
}

.tables-body__col-header.tables-body__col-header--collections-contract_address,
.tables-body__cell.tables-body__cell--collections-contract_address,
.tables-body__col-header.tables-body__col-header--assets-owner_address,
.tables-body__cell.tables-body__cell--assets-owner_address,
.tables-body__col-header.tables-body__col-header--single_vaults-contract_address,
.tables-body__cell.tables-body__cell--single_vaults-contract_address
{
    min-width: 330px;
    width: 330px;
}

// Wallet.domain
// Wallet.avatar
// NFT.collection
// NFT.contract
// NFT.name
// NFT.description
// NFT.image
// NFT.attributes
.tables-body__col-header.tables-body__col-header--wallets-domain,
.tables-body__cell.tables-body__cell--wallets-domain,
.tables-body__col-header.tables-body__col-header--wallets-avatar,
.tables-body__cell.tables-body__cell--wallets-avatar,
.tables-body__col-header.tables-body__col-header--nfts-collection,
.tables-body__cell.tables-body__cell--nfts-collection,
.tables-body__col-header.tables-body__col-header--nfts-contract,
.tables-body__cell.tables-body__cell--nfts-contract,
.tables-body__col-header.tables-body__col-header--nfts-name,
.tables-body__cell.tables-body__cell--nfts-name,
.tables-body__col-header.tables-body__col-header--nfts-description,
.tables-body__cell.tables-body__cell--nfts-description,
.tables-body__col-header.tables-body__col-header--nfts-image,
.tables-body__cell.tables-body__cell--nfts-image,
.tables-body__col-header.tables-body__col-header--nfts-attributes,
.tables-body__cell.tables-body__cell--nfts-attributes,
.tables-body__col-header.tables-body__col-header--marketplace_listings-marketplace_id,
.tables-body__cell.tables-body__cell--marketplace_listings-marketplace_id,
.tables-body__col-header.tables-body__col-header--marketplace_listings-uid,
.tables-body__cell.tables-body__cell--marketplace_listings-uid,
.tables-body__col-header.tables-body__col-header--marketplace_listings-token_id,
.tables-body__cell.tables-body__cell--marketplace_listings-token_id,
.tables-body__col-header.tables-body__col-header--marketplace_listings-listing_id,
.tables-body__cell.tables-body__cell--marketplace_listings-listing_id,
.tables-body__col-header.tables-body__col-header--marketplace_listings-listing_type,
.tables-body__cell.tables-body__cell--marketplace_listings-listing_type,
.tables-body__col-header.tables-body__col-header--marketplace_listings-asset_contract,
.tables-body__cell.tables-body__cell--marketplace_listings-asset_contract,
.tables-body__col-header.tables-body__col-header--marketplace_listings-token_owner,
.tables-body__cell.tables-body__cell--marketplace_listings-token_owner,
.tables-body__col-header.tables-body__col-header--marketplace_listings-token_id,
.tables-body__cell.tables-body__cell--marketplace_listings-token_id,
.tables-body__col-header.tables-body__col-header--marketplace_listings-token_type,
.tables-body__cell.tables-body__cell--marketplace_listings-token_type,
.tables-body__col-header.tables-body__col-header--marketplace_listings-start_time,
.tables-body__cell.tables-body__cell--marketplace_listings-start_time,
.tables-body__col-header.tables-body__col-header--marketplace_listings-end_time,
.tables-body__cell.tables-body__cell--marketplace_listings-end_time,
.tables-body__col-header.tables-body__col-header--marketplace_listings-quantity,
.tables-body__cell.tables-body__cell--marketplace_listings-quantity,
.tables-body__col-header.tables-body__col-header--marketplace_listings-currency,
.tables-body__cell.tables-body__cell--marketplace_listings-currency,
.tables-body__col-header.tables-body__col-header--marketplace_listings-was_removed,
.tables-body__cell.tables-body__cell--marketplace_listings-was_removed,
.tables-body__col-header.tables-body__col-header--marketplace_listings-created_at,
.tables-body__cell.tables-body__cell--marketplace_listings-created_at,
.tables-body__col-header.tables-body__col-header--marketplace_listings-updated_at,
.tables-body__cell.tables-body__cell--marketplace_listings-updated_at,
.tables-body__col-header.tables-body__col-header--marketplaces-contract_type,
.tables-body__cell.tables-body__cell--marketplaces-contract_type,
.tables-body__col-header.tables-body__col-header--asset_sales-asset_id,
.tables-body__cell.tables-body__cell--asset_sales-asset_id,
.tables-body__col-header.tables-body__col-header--single_vaults-asset_id,
.tables-body__cell.tables-body__cell--single_vaults-asset_id
{
    min-width: 185px;
    width: 185px;
}

.tables-body__col-header.tables-body__col-header--marketplaces-created_at,
.tables-body__cell.tables-body__cell--marketplaces-created_at,
.tables-body__col-header.tables-body__col-header--marketplaces-collection_id,
.tables-body__cell.tables-body__cell--marketplaces-collection_id,
.tables-body__col-header.tables-body__col-header--marketplaces-name,
.tables-body__cell.tables-body__cell--marketplaces-name,
.tables-body__col-header.tables-body__col-header--collections-created_at,
.tables-body__cell.tables-body__cell--collections-created_at,
.tables-body__col-header.tables-body__col-header--collections-name,
.tables-body__cell.tables-body__cell--collections-name,
.tables-body__col-header.tables-body__col-header--collections-symbol,
.tables-body__cell.tables-body__cell--collections-symbol,
.tables-body__col-header.tables-body__col-header--assets-collection_id,
.tables-body__cell.tables-body__cell--assets-collection_id,
.tables-body__col-header.tables-body__col-header--assets-token_id,
.tables-body__cell.tables-body__cell--assets-token_id,
.tables-body__col-header.tables-body__col-header--assets-erc_standard,
.tables-body__cell.tables-body__cell--assets-erc_standard,
.tables-body__col-header.tables-body__col-header--asset_sales-seller,
.tables-body__cell.tables-body__cell--asset_sales-seller,
.tables-body__col-header.tables-body__col-header--asset_sales-buyer,
.tables-body__cell.tables-body__cell--asset_sales-buyer,
.tables-body__col-header.tables-body__col-header--asset_sales-price_eth,
.tables-body__cell.tables-body__cell--asset_sales-price_eth,
.tables-body__col-header.tables-body__col-header--asset_sales-price_usd,
.tables-body__cell.tables-body__cell--asset_sales-price_usd,
.tables-body__col-header.tables-body__col-header--asset_sales-datetime,
.tables-body__cell.tables-body__cell--asset_sales-datetime
{
    min-width: 200px;
    width: 200px;
}

.tables-body__col-header.tables-body__col-header--compound_markets-name,
.tables-body__cell.tables-body__cell--compound_markets-name,
.tables-body__col-header.tables-body__col-header--compound_markets-address,
.tables-body__cell.tables-body__cell--compound_markets-address,
.tables-body__col-header.tables-body__col-header--compound_markets-supply_apy,
.tables-body__cell.tables-body__cell--compound_markets-supply_apy,
.tables-body__col-header.tables-body__col-header--compound_markets-borrow_apy,
.tables-body__cell.tables-body__cell--compound_markets-borrow_apy
{
    min-width: 240px;
    width: 240px;
}

.tables-body__col-header.tables-body__col-header--compound_markets-supply_apy,
.tables-body__cell.tables-body__cell--compound_markets-supply_apy,
.tables-body__col-header.tables-body__col-header--compound_markets-borrow_apy,
.tables-body__cell.tables-body__cell--compound_markets-borrow_apy
{
    min-width: 265px;
    width: 265px;
}

.tables-body__col-header.tables-body__col-header--marketplace_listings-reserve_price_per_token,
.tables-body__cell.tables-body__cell--marketplace_listings-reserve_price_per_token,
.tables-body__col-header.tables-body__col-header--marketplace_listings-buyout_price_per_token,
.tables-body__cell.tables-body__cell--marketplace_listings-buyout_price_per_token {
    min-width: 250px;
    width: 250px;
}

// ####################
// FOOTER 
// ####################

.tables-body__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: $tablesSectionFooterHeight;
    background-color: #111129;
    border-top: 1px solid adjust-color($gray, $alpha: -0.92);
}

.tables-body__footer-liner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 5px;
    width: 100%;
}

.tables-body__footer-num-records {
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 12.5px;
    color: adjust-color($gray, $alpha: -0.2);
    font-size: 10.5px;
    margin-top: -1.5px;

    & > span {
        & > span:first-child {
            margin-right: 3px;
        }
    }
}