.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 9999;
}

.toast {
    position: relative;
    top: 20px;
    right: 20px;
    background-color: #2D152C;
    color: #fff;
    padding: 12px 20px 12px 32px;
    border-radius: 8px;
    box-shadow: 0 0 32px adjust-color(#0B0B20, $alpha: -0);
    max-width: 400px;
    margin-bottom: 10px;
}

.toast-message {
    font-size: 13.5px;
    line-height: 24px;
}

.toast-close-button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

.toast-close-icon {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: transparent;
    padding: 0 !important;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    background-color: transparent;
    color: white;
    transition: all 0.06s ease;

    &:hover {
        background-color: adjust-color(#fff, $alpha: -0.95);
        color: #FF689C !important;
    }

    svg {
        height: 12px !important;
        width: auto !important;
        fill: currentColor;
        position: relative;
        top: 1px;
        transition: all 0.06s ease;
    }
}