.transform-panel {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

// ==============
// HEADER
// ==============

.transform-panel__header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: $sliderPanelHeaderHeight;
    padding: 0 26px;
    border-bottom: 1px solid adjust-color($gray, $alpha: -0.9);
}

.transform-panel__header-liner {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.transform-panel__header-title {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: $white;
    letter-spacing: 0.21px;

    span:first-child {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: $lightGray;
        height: 17px;
        width: 17px;
        margin-right: 12px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

// ==============
// FOOTER
// ==============

.transform-panel__footer {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $sliderPanelFooterHeight;
    padding: 0 26px;
    border-top: 1px solid adjust-color($gray, $alpha: -0.9);
}

.transform-panel__footer-liner {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.transform-panel__footer-button {
    height: 31px;
    padding: 0 14px;
    min-width: 71px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.07s ease, background-color 0.15s ease, color 0.15s ease, border 0.15s ease;
    font-size: 13px;
    letter-spacing: 0.22px;
    cursor: pointer;

    // Back/Cancel
    &:first-child {
        background-color: adjust-color($backgroundLight, $alpha: -0.5);
        color: adjust-color($white, $alpha: -0.1);

        &:hover {
            background-color: adjust-color($backgroundLight, $alpha: -0.2);
            color: $white;
        }
    }

    &.transform-panel__footer-button--shown {
        opacity: 1;
        pointer-events: auto;
    }
}

// ==============
// SECTION
// ==============

.transform-panel__section {
    position: absolute;
    left: 0;
    width: 100%;
    top: $sliderPanelHeaderHeight;
    bottom: $sliderPanelFooterHeight;
    display: block;
    color: white;
}

.transform-panel__subheader {
    display: block;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px;
    border-bottom: 1px solid adjust-color($gray, $alpha: -0.9);
    top: $sliderPanelHeaderHeight;
    position: absolute;
    left: 0;
    right: 0;

    .transform-panel__tf {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: CodeRegular;
        font-size: 12px;
        color: $blueAccent;

        span:first-child {
            color: $lightGray;
        }

        span:nth-child(2) {
            margin: 0 8px;
        }
    }

    & > span:last-child {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 16px;
        width: 16px;

        svg {
            width: 16px;
            height: auto;
            fill: $lightGray;
            opacity: 0.7;
        }
    }
}

.transform-panel__body {
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(#{$sliderPanelHeaderHeight} + 50px);
    display: block;

    #indent1,
    #indent2,
    #indent3 {
        width: 1px;
        position: absolute;
        background-color: adjust-color($gray, $alpha: -0.9);
        display: block;
    }

    #indent1 {
        top: 136px;
        bottom: 103px;
        left: 62px;
    }

    #indent2 {
        top: 199px;
        bottom: 247px;
        left: 90px;
    }

    #indent3 {
        bottom: 120px;
        height: 65px;
        left: 90px;
    }
}

.transform-panel__code {
    margin-top: 0px;
    margin-left: 20px;
    display: block;
}

.transform-panel__header-status {
    position: absolute;
    top: 20px;
    right: 22px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    border-radius: 12.5px;
    color: $blueAccent;
    font-size: 11px;
    transition: all 0.25s ease;
    letter-spacing: 0.1px;
    opacity: 1;
    border: none;
    height: 24px;
    background-color: adjust-color($blueAccent, $alpha: -0.95);
    font-size: 10px;
    text-transform: uppercase;

    .transform-panel__header-status-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 7px;
        margin-left: -2px;

        svg {
            width: 9px;
            height: auto;

            .stroke {
                stroke: $blueAccent;
            }
        }
    }
}