.unique-mappings {
    display: block;
    width: 100%;
    margin-top: 20px;

    button {
        background-color: transparent;
        border: none;
        text-align: left;
    }
}

.unique-mappings__liner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.unique-mappings__mapping-inputs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.unique-mappings__mapping-input {
    position: relative;
    display: flex;
    height: 51px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        .unique-mappings__formatter:not(.unique-mappings__formatter--disabled) {
            transform: scale(1);
        }
    }
}

.unique-mappings__mapping-input-field {
    height: 35px;

    input, select {
        font-family: CodeRegular;
    }

    &.unique-mappings__mapping-input-field--property {
        width: calc($uniqueMappingInputWidth / 1.3);
    }

    &.unique-mappings__mapping-input-field--col-path {
        width: calc($uniqueMappingInputWidth * 1.3);
    }

    &.unique-mappings__mapping-input-field--property,
    &.unique-mappings__mapping-input-field--col-path {
        .spec__control {
            border: 1px solid adjust-color($gray, $alpha: -0.75) !important;
            background-color: transparent !important;
        }
    }

    &.unique-mappings__mapping-input-field--property {
        position: relative;

        .spec__control {
            padding-left: 13px;
        }

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 9px;
            height: 7px;
            background-image: url('../../svgs/into-arrow.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 1px;
            left: 9px;
            z-index: 1;
            pointer-events: none;
            opacity: 0.9;
        }
    }

    input,
    .input {
        background-color: adjust-color($backgroundLight, $alpha: -0.5);
        border: 1px solid adjust-color($gray, $alpha: -0.9);
        border-radius: 5px;
        outline: none !important;
        box-shadow: none !important;
        color: $white;
        width: 100%;
        height: 100%;
        padding-left: 13px;
        text-overflow: ellipsis;
        padding-right: 13px;
        font-size: 12px;
        letter-spacing: 0.1px;
    }

    .input {
        line-height: 33px;
        font-size: 12.5px;
        position: relative;
        cursor: pointer;

        &:hover {
            &:after {
                color: $lightGray;
            }
        }

        &:after {
            position: absolute;
            content: 'f(x)';
            font-family: CodeRegular;
            color: adjust-color($gray, $alpha: -0.25);
            transition: color 0.15s ease;
            right: 10px;
            top: 50%;
            transform: translateY(-47%);
            font-size: 11px;
            letter-spacing: -1px;
        }
    }

    &:focus:not(.unique-mappings__mapping-input-field--disabled) {
        .input {
            &:after {
                color: $lightGray;
            }
        }
    }

    &.select-input {
        .spec__single-value,
        .spec__placeholder,
        .spec__input-container,
        .spec__option,
        .spec__input > * {
            font-family: CodeRegular;
        }

        .spec__option {
            font-size: 11.5px;
            color: adjust-color($lightGray, $alpha: -0.2);
            height: 26px;
            line-height: 26px;
        }

        .spec__control {
            height: 35px;
        }

        .spec__value-container {
            padding-left: 7px !important;
        }

        .spec__single-value,
        .spec__placeholder {
            font-size: 12px;
            letter-spacing: 0.1px;
        }
    }

    input {
        &::placeholder {
            color: adjust-color($gray, $alpha: -0.2);
        }

        &::-webkit-input-placeholder {
            color: adjust-color($gray, $alpha: -0.2);
        }

        &::-moz-placeholder {
            color: adjust-color($gray, $alpha: -0.2);
        }
    }
}

.unique-mappings__mapping-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: $uniqueMappingIconWidth;
    color: $tealAccent;
    span {
        font-size: 18px;
        opacity: 0.8;
        position: relative;
        top: -1px;
    }
}

.unique-mappings__mapping-input-icon-button {
    height: $newLiveColIconButtonSideLength;
    width: $newLiveColIconButtonSideLength;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $gray;
    cursor: pointer;
    justify-self: flex-end;
    transition: all 0.08s ease;

    svg {
        transition: all 0.08s ease;
    }

    &:hover {
        color: $white;
    }

    &.unique-mappings__mapping-input-icon-button--settings {
        margin-right: 0;
        margin-left: $newLiveColIconButtonLeftSpacing;

        svg {
            height: 16.5px;
            width: auto;
        }
    }

    &.unique-mappings__mapping-input-icon-button--remove {
        margin-left: 12px;
        

        svg {
            width: 20px;
            height: auto;
        }
    }
}

.unique-mappings__action-buttons {
    margin-top: 13px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

    button {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid adjust-color($gray, $alpha: -0.8);
        border-radius: 5px;
        color: adjust-color($white, $alpha: -0.1);
        height: 30px;
        padding: 0 11px 1px;
        cursor: pointer;
        transition: background-color .15s ease;
        margin-right: 8px;

        span {
            font-size: 11px;
            letter-spacing: 0.11px;
        }
        
        &:hover,
        &:focus {
            background-color: adjust-color($backgroundLight, $alpha: -0.75);
        }
    }
}